/* header.css */
.header {
  background-color: transparent;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; 
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  overflow-x: hidden; 
}

.header.scrolled {
  background-color: #EBDFAF;
  border-bottom: 1px solid black;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

.logo {
  color: black;
  text-decoration: none;
  font-family: 'Modak', cursive;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: relative; 
  cursor: pointer;
}

.scrolled .logo {
  opacity: 1;
}

.nav {
  flex: 0 0 auto;
  margin-left: auto;
  padding-right: 2rem;
  position: relative;
}

.nav-list {
  display: flex;
  gap: 2rem; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  font-weight: 500; 
  position: relative; 
  letter-spacing: 2px;
}

.nav-list li a.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 2px;
  background-color: white;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
  }

  .logo {
    font-size: 1.2rem;
  }

  .nav {
    width: auto;
    padding-right: 0;
  }

  .nav-list {
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .nav-list li a {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .nav-list {
    gap: 0.5rem;
  }

  .nav-list li a {
    padding: 0.3rem 0.3rem;
    font-size: 0.65rem;
   
  }
  .logo {
    font-size: 0.7rem;
    margin-left: -5%;
  }
  
}