:root {
  font-family: 'Tilt Warp', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #EBDFAF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  
  width: 100%;
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #EBDFAF;
  position: relative;
  overflow-y: hidden;

}

#root {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}